coverage
django
django-allauth
django-allauth-ui
django-debug-toolbar
django-filter
django-oscar[sorl-thumbnail]
django-redis
hiredis
isort
pillow
pip
pinax-messages
psycopg[binary]
pycountry
python-dotenv
python-telegram-handler
redis
ruff
wheel