cachetools
coverage
django
django-allauth
django-allauth-ui
django-debug-toolbar
django-fastdev
django-filter
django-guardian
git+https://www.github.com/Naggafin/django-htmx-utils.git
django-oscar
django-redis
django-taggit
django-template-partials
djlint
hiredis
jwt
isort
nplusone
parameterized
pillow
pip
pinax-messages
psycopg[c]
psycopg_pool
pycountry
python-dotenv
python-telegram-handler
redis
ruff
sorl-thumbnail
uv
wheel