cachetools
coverage
django
djangorestframework
django-allauth
django-allauth-ui
django-debug-toolbar
git+https://www.github.com/Naggafin/django-extensions.git
django-fastdev
django-filter
django-guardian
git+https://www.github.com/Naggafin/django-htmx-utils.git
django-oscar
django-redis
django-silk
django-taggit
django-template-partials
django-user-agents
git+https://www.github.com/Naggafin/django-view-breadcrumbs.git
djlint
hiredis
jwt
isort
nplusone
parameterized
pillow
pip
pinax-messages
psycopg[c]
psycopg_pool
pycountry
python-box
python-dotenv
python-telegram-handler
redis
ruff
sorl-thumbnail
uv
wheel