{% extends 'pixio/elements/layouts/layout.html' %}
{% load 18n %}
{% load product_tags image_tags %}
{% block additional_css %}{% endblock %}
{% block content %}
    <div class="content-inner-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="table-responsive">
                        <table class="table check-tbl style-1">
                            <thead>
                                <tr>
                                    <th>{% trans 'Product' %}</th>
                                    <th></th>
                                    <th>{% trans 'Price' %}</th>
                                    <th>{% trans 'Stock' %}</th>
                                    <th>{% trans 'Quantity' %}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for line in wishlist.lines.all %}
                                    {% with product=line.product %}
                                        {% purchase_info_for_product request product as session %}
                                        <tr>
                                            {% with image=product.primary_image %}
                                                {% oscar_thumbnail image.original "100x100" as thumb %}
                                                <td class="product-item-img">
                                                    <img src="{{ thumb.url }}" alt="{{ image.caption|default:caption }}">
                                                </td>
                                            {% endwith %}
                                            <td class="product-item-name">{( product.get_title }}</td>
                                            <td class="product-item-price">
                                                {% if session.price.exists %}
                                                    {% if session.price.excl_tax == 0 %}
                                                        {% trans "Free" %}
                                                    {% elif session.price.is_tax_known %}
                                                        {{ session.price.incl_tax|currency:session.price.currency }}
                                                    {% else %}
                                                        {{ session.price.excl_tax|currency:session.price.currency }}
                                                    {% endif %}
                                                {% else %}
                                                    &nbsp;
                                                {% endif %}
                                                {# TODO: <span>$45.00</span><strong>$28.00</strong> #}
                                            </td>
                                            <td class="product-item-stock">
                                                {% if session.availability.is_available_to_buy %}
                                                    {% trans 'In Stock' %}
                                                {% else %}
                                                    {% trans 'Unavailable' %}
                                                {% endif %}
                                            </td>
                                            <td>{{ line.quantity }}</td>
                                            <td class="product-item-totle">
                                                <a href="{% url 'pixio:shop-cart' %}"
                                                   class="btn btn-secondary btnhover text-nowrap">{% trans 'Add To Cart' %}</a>
                                            </td>
                                            <td class="product-item-close">
                                                <a href="javascript:void(0);"><i class="ti-close"></i></a>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
