{% extends 'base.html' %}
{% load i18n static %}
{% load django_tables2 %}
{% load category_tags %}
{% load product_tags %}
{% block additional_css %}{% endblock %}
{% block js %}
    <script src="{% static 'pixio/vendor/lightgallery/dist/lightgallery.min.js' %}"
            nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'pixio/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js' %}"
            nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'pixio/vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js' %}"
            nonce="{{ request.csp_nonce }}"></script>
    <script nonce="{{ request.csp_nonce }}">
        function handleCategoryFilter(event) {
            const originElem = event.target;
            const productsList = document.getElementById('tab-list-column');
        
            if (productsList) {
                console.debug("found products list element");

                const loadingDiv = document.createElement('div');
                loadingDiv.className = 'd-flex justify-content-center align-items-center';
                loadingDiv.style.height = '100%';
                loadingDiv.innerHTML = `
                                    <div class="spinner-border text-primary" role="status">
                                      <span class="visually-hidden">{% trans 'Loading...' %}</span>
                                    </div>
                                  `;

                productsList.replaceChildren(loadingDiv);
            }
        }

        document.body.addEventListener('htmx:beforeSwap', (event) => {
            if (event.detail.target.id !== 'tab-list-column') return;
            console.debug('preprocessing swap');
    
            // template container to hold response content
            const tempContainer = document.createElement('div');
            tempContainer.innerHTML = event.detail.xhr.responseText;
    
            // process elements matching the ID pattern "product-{ some text }-card"
            const productCards = tempContainer.querySelectorAll('[id^="product-"][id$="-card"]');
            console.debug(`num product cards found: ${productCards.length}`);
            if (productCards.length > 0) {
                const divContainer = document.createElement('div');
                divContainer.className = 'row gx-xl-4 g-3 mb-xl-0 mb-md-0 mb-3';
    
                productCards.forEach(productCard => {
                    console.debug(`replacing #${productCard.id} in response HTML`);
                    const divItem = document.createElement('div');
                    divItem.className = 'col-6 col-xl-4 col-lg-6 col-md-6 col-sm-6 m-md-b15 m-sm-b0 m-b30';
                    divItem.appendChild(productCard.cloneNode(true));
                    productCard.remove();
                    divContainer.appendChild(divItem);
                });
    
                // update only the modified elements in the HTMX response
                console.debug('updating response content');
                tempContainer.appendChild(divContainer);
                {% if debug %}console.debug(tempContainer.innerHTML.trim());{% endif %}
                event.detail.serverResponse = tempContainer.innerHTML;
            }
        });
    </script>
{% endblock %}
{% partialdef product-list-item-add-to-wishlist %}
<div class="bookmark-btn style-1 require-js" x-data="{submitting: false}">
    <label class="form-check-label">
        <input class="form-check-input"
               type="checkbox"
               hx-post="{% url 'customer:wishlist-add-product' pk=product.pk %}"
               hx-trigger="change"
               hx-swap="none show:none"
               hx-vals="js:{csrfmiddlewaretoken:'{{ csrf_token }}'}"
               hx-push-url="false"
               @change="$data.submitting = true;"
               @htmx:after-on-load="$data.submitting = false;"
               @htmx:response-error="console.error($event);"
               :disabled="submitting">
        <i class="fa-solid fa-heart" x-show="!submitting"></i>
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
    </label>
</div>
<noscript>
    <form action="{% url 'customer:wishlist-add-product' pk=product.pk %}"
          method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary btn-md btn-icon">
            <div class="d-md-none d-block">
                <i class="icon feather icon-heart dz-heart"></i>
                <i class="icon feather icon-heart-on dz-heart-fill"></i>
            </div>
            <span>{% trans 'Add to wishlist' %}</span>
        </button>
    </form>
</noscript>
{% endpartialdef %}
{% partialdef product-list-item-remove-from-wishlist %}
<div class="bookmark-btn style-1 require-js" x-data="{submitting: false}">
    <label class="form-check-label">
        <input class="form-check-input"
               type="checkbox"
               hx-post="{% url 'customer:wishlist-remove-product' pk=product.pk %}"
               hx-trigger="change"
               hx-swap="none show:none"
               hx-vals="js:{csrfmiddlewaretoken:'{{ csrf_token }}'}"
               hx-push-url="false"
               @change="$data.submitting = true;"
               @htmx:after-on-load="$data.submitting = false;"
               @htmx:response-error="console.error($event);"
               :disabled="submitting"
               checked>
        <i class="fa-solid fa-heart" x-show="!submitting"></i>
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
    </label>
</div>
<noscript>
    <form action="{% url 'customer:wishlist-remove-product' product_pk=product.pk %}"
          method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary btn-md btn-icon">
            <div class="d-md-none d-block">
                <i class="icon feather icon-heart dz-heart"></i>
                <i class="icon feather icon-heart-on dz-heart-fill"></i>
            </div>
            <span>{% trans 'Remove from wishlist' %}</span>
        </button>
    </form>
</noscript>
{% endpartialdef %}
{% partialdef product-list-item-add-to-basket %}
{% basket_form request product 'single' as basket_form %}
<form action="{% url 'basket:add-product' pk=product.pk %}"
      method="post"
      hx-boost="true"
      hx-swap="none show:none"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    {{ basket_form }}
    <button type="submit"
            class="btn btn-secondary btn-md btn-icon"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
        <i class="icon feather icon-shopping-cart d-md-none d-block"
           x-show="!submitting"></i>
        <span class="d-md-block d-none">{% trans 'Add to cart' %}</span>
    </button>
</form>
{% endpartialdef %}
{% partialdef product-list-item-remove-from-basket %}
<form action="{% url 'basket:remove-product' product_pk=product.pk %}"
      method="post"
      hx-boost="true"
      hx-swap="none show:none"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    <button type="submit"
            class="btn btn-primary meta-icon dz-carticon"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
        <i class="icon feather icon-trash-2 d-md-none d-block"
           x-show="!submitting"></i>
        <span class="d-md-block d-none">{% trans 'Remove from cart' %}</span>
    </button>
</form>
{% endpartialdef %}
{% partialdef product-list-item %}
<div class="dz-shop-card style-2">
    <div class="dz-media">
        {% with image=product.primary_image %}
            {% oscar_thumbnail image.original "450x600" as thumb %}
            <img src="{{ thumb.url }}"
                 alt="{{ image.caption|default:product.get_title }}"
                 class="mx-auto"
                 nonce="{{ request.csp_nonce }}">
        {% endwith %}
        <div class="product-tag">
            <span class="badge badge-secondary">TODO</span>
        </div>
    </div>
    <div class="dz-content">
        <div class="dz-header">
            <div>
                <h4 class="title mb-0">
                    <a href="{{ product.get_absolute_url }}">{{ product.get_title|title|truncatewords:4 }}</a>
                </h4>
                <ul class="dz-tags">
                    {% with category=product.get_categories.first %}
                        {% if category %}
                            {% for c in category.get_ancestors_and_self %}
                                <li>
                                    <a href="{{ c.get_absolute_url }}">{{ c.name }}
                                        {% if not forloop.last %},{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>{% trans 'Uncategorized' %}</li>
                        {% endif %}
                    {% endwith %}
                </ul>
            </div>
            {% iffeature "reviews" %}
            <div class="review-num">
                <ul class="dz-rating">
                    {% for i in 5|range %}
                        <li {% if i <= product.rating %}class="star-fill"{% endif %}>
                            <i class="flaticon-star-1"></i>
                        </li>
                    {% endfor %}
                </ul>
                <span>
                    {# TODO: ensure this browses reviews #}
                    <a href="{{ product.get_absolute_url }}#reviews">
                        {% blocktrans with num=product.num_approved_reviews %}{{ num }} Reviews{% endblocktrans %}
                    </a>
                </span>
            </div>
        {% endiffeature %}
    </div>
    <div class="dz-body">
        <div class="dz-rating-box">
            <div>
                <p class="dz-para">{{ product.description }}</p>
            </div>
        </div>
        <div class="rate">
            <div class="d-flex align-items-center mb-xl-3 mb-2">
                <div class="meta-content m-0">
                    <span class="price-name">{% trans 'Price' %}</span>
                    <span class="price">
                        {% if session.price.exists %}
                            {% if session.price.excl_tax == 0 %}
                                {% trans "Free" %}
                            {% else %}
                                {{ session.price.excl_tax|currency:session.price.currency }}
                            {% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="d-flex">
                {% if product|is_in_basket:request %}
                    <div id="basket-remove-product-{{ product.pk }}">{% partial product-list-item-remove-from-basket %}</div>
                {% else %}
                    <div id="basket-add-product-{{ product.pk }}">
                        {% if session.availability.is_available_to_buy and session.price.exists %}
                            {% partial product-list-item-add-to-basket %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if request.user.is_authenticated %}
                    {% if product|is_in_wishlist:request %}
                        <div id="wishlist-remove-product-{{ product.pk }}">{% partial product-list-item-remove-from-wishlist %}</div>
                    {% else %}
                        <div id="wishlist-add-product-{{ product.pk }}">{% partial product-list-item-add-to-wishlist %}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endpartialdef %}
{% partialdef filter-aside %}
<aside>
    <div class="d-flex align-items-center justify-content-between m-b30">
        <h6 class="title mb-0 fw-normal d-flex">
            <i class="flaticon-filter me-3"></i>
            {% trans 'Filter' %}
        </h6>
    </div>
    <form action="{% url 'catalogue:index' %}"
          method="get"
          hx-boost="true"
          hx-swap="show:none"
          hx-target="#masonry"
          hx-push-url="false"
          x-ref="form"
          x-data>
        <div class="widget widget_search">
            <div class="form-group">
                <div class="input-group">
                    <input name="q"
                           value="{{ request.GET.q }}"
                           required="required"
                           type="search"
                           class="form-control"
                           placeholder="{% trans 'Search Products' %}">
                    <div class="input-group-addon">
                        <button name="submit" value="{% trans 'Search' %}" type="submit" class="btn">
                            <i class="icon feather icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% if facets.queries.price_range.items %}
            <div class="widget">
                <fieldset>
                    <legend class="widget-title fs-6">{% trans 'Price range' %}</legend>
                    {% for label, query in facets.queries.price_range.items %}
                        <label>
                            <input type="checkbox"
                                   name="selected_facets"
                                   value="price:{{ query }}"
                                   class="form-check-input"
                                   {% if "price:"|add:query in request.GET.selected_facets %}checked{% endif %}>
                            {{ label }}
                        </label>
                        <br>
                    {% endfor %}
                </fieldset>
            </div>
        {% endif %}
        <div>
            <label>
                {% trans 'In Stock Only:' %}
                <input type="checkbox"
                       name="num_in_stock__gte"
                       value="1"
                       class="form-check-input">
            </label>
        </div>
        {% if facets.fields.product_class.items %}
            <div class="widget">
                <fieldset>
                    <legend class="widget-title fs-6">{% trans 'Type' %}</legend>
                    {% for facet, count in facets.fields.product_class.items %}
                        <label>
                            <input type="checkbox"
                                   name="selected_facets"
                                   value="product_class:{{ facet }}"
                                   class="form-check-input"
                                   {% if "product_class:"|add:facet in request.GET.selected_facets %}checked{% endif %}>
                            {{ facet }} ({{ count }})
                        </label>
                        <br>
                    {% endfor %}
                </fieldset>
            </div>
        {% endif %}
        {% if facets.fields.rating.items %}
            <div class="widget">
                <fieldset>
                    <legend class="widget-title fs-6">{% trans 'Rating' %}</legend>
                    {% for facet, count in facets.fields.rating.items %}
                        <label>
                            <input type="checkbox"
                                   name="selected_facets"
                                   value="rating:{{ rating }}"
                                   class="form-check-input"
                                   {% if "rating:"|add:facet in request.GET.selected_facets %}checked{% endif %}>
                            {{ facet }} {% trans 'Stars' %} ({{ count }})
                        </label>
                        <br>
                    {% endfor %}
                </fieldset>
            </div>
        {% endif %}
        {% category_tree as tree_categories %}
        {% if tree_categories %}
            <div class="widget widget_categories">
                <h6 class="widget-title">{% trans 'Category' %}</h6>
                <ul>
                    {% for tree_category in tree_categories %}
                        <li class="mt-2">
                            <a href="{{ tree_category.url }}">
                                {% if tree_category.pk == category.pk %}
                                    <strong>{{ tree_category.name }}</strong>
                                {% else %}
                                    {{ tree_category.name }}
                                {% endif %}
                            </a>
                            {% if tree_category.has_children %}
                                <ul>
                                {% else %}
                                </li>
                            {% endif %}
                            {% for n in tree_category.num_to_close %}
                            </ul>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="widget widget_tag_cloud">
        <h6 class="widget-title">{% trans 'Tags' %}</h6>
        <div class="tagcloud">
            <a href="{% url 'pixio:blog-tag' %}">Vintage</a>
            <a href="{% url 'pixio:blog-tag' %}">Wedding</a>
            <a href="{% url 'pixio:blog-tag' %}">Cotton</a>
            <a href="{% url 'pixio:blog-tag' %}">Linen</a>
            <a href="{% url 'pixio:blog-tag' %}">Navy</a>
            <a href="{% url 'pixio:blog-tag' %}">Urban</a>
            <a href="{% url 'pixio:blog-tag' %}">Business Meeting</a>
            <a href="{% url 'pixio:blog-tag' %}">Formal</a>
        </div>
    </div>
    <div>
        <button name="submit" type="submit" class="btn">{% trans 'Filter' %}</button>
        <button class="btn btn-sm font-14 btn-secondary btn-sharp"
                @click="$refs.form.reset();">{% trans 'RESET' %}</button>
    </div>
</form>
</aside>
{% endpartialdef %}
{% partialdef products-row %}
<div class="col-12 tab-content shop-" id="pills-tabContent">
    <div class="tab-pane fade"
         id="tab-list-list"
         role="tabpanel"
         aria-labelledby="tab-list-list-btn">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xxxl-6">
                {% for product in products %}
                    {% partial product-list-item %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade"
         id="tab-list-column"
         role="tabpanel"
         aria-labelledby="tab-list-column-btn">
        <div class="row gx-xl-4 g-3 mb-xl-0 mb-md-0 mb-3">
            {% for product in products %}
                <div class="col-6 col-xl-4 col-lg-6 col-md-6 col-sm-6 m-md-b15 m-sm-b0 m-b30">
                    {% render_product product.object 'style-1' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endpartialdef %}
{% partialdef filter-row %}
<div class="col-md-6">
    <p class="page-text">
        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% plural %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
        {% else %}
            {% trans "<strong>0</strong> results." %}
        {% endif %}
    </p>
</div>
<div class="col-md-6">
    <nav aria-label="{% translate 'Page navigation' %}">
        <ul class="pagination style-1">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% querystring page=page_obj.previous_page_number %}"
                       class="page-link"
                       hx-boost="true"
                       hx-push-url="false">
                        <span aria-hidden="true">&laquo;</span>
                        {% trans 'Previous' %}
                    </a>
                </li>
            {% endif %}
            {% if page_obj.has_previous or page_obj.has_next %}
                {% for p in page_obj|table_page_range:paginator %}
                    <li class="page-item">
                        <a {% if p != '...' %}
                               href="{% querystring page=p %}"
                           {% endif %}
                           class="page-link
                                  {% if page_obj.number == p %}active{% endif %}"
                           hx-boost="true"
                           hx-push-url="false"
                           hx-swap="outerHTML"
                           hx-target="closest .table-container"
                           hx-indicator="closest .table-container">{{ p }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% querystring page=page_obj.next_page_number %}"
                       class="page-link"
                       hx-boost="true"
                       hx-push-url="false"
                       hx-swap="outerHTML"
                       hx-target="closest .table-container"
                       hx-indicator="closest .table-container">
                        {% trans 'Next' %}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endpartialdef %}
{% block content %}
    <section class="content-inner-3 pt-3 z-index-unset">
        <div class="container-fluid">
            <div class="row">
                <div class="col-20 col-xl-3">
                    <div class="sticky-xl-top">
                        <a href="javascript:void(0);" class="panel-close-btn">
                            <svg width="35"
                                 height="35"
                                 viewBox="0 0 51 50"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M37.748 12.5L12.748 37.5" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12.748 12.5L37.748 37.5" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                        <div class="shop-filter mt-xl-2 mt-0">{% partial filter-aside %}</div>
                    </div>
                </div>
                <div class="col-80 col-xl-9">
                    <div class="filter-wrapper">
                        <div class="filter-left-area">
                            <ul class="filter-tag">
                                <li>
                                    <a href="javascript:void(0);" class="tag-btn">Dresses
                                        <i class="icon feather icon-x tag-close"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="tag-btn">Tops
                                        <i class="icon feather icon-x tag-close"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="tag-btn">Outerwear
                                        <i class="icon feather icon-x tag-close"></i>
                                    </a>
                                </li>
                            </ul>
                            <span>Showing 1–5 Of 50 Results</span>
                        </div>
                        <div class="filter-right-area">
                            <a href="javascript:void(0);" class="panel-btn me-2">
                                <svg class="me-2"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 25 25"
                                     width="20"
                                     height="20">
                                    <g id="Layer_28" data-name="Layer 28">
                                    <path d="M2.54,5H15v.5A1.5,1.5,0,0,0,16.5,7h2A1.5,1.5,0,0,0,20,5.5V5h2.33a.5.5,0,0,0,0-1H20V3.5A1.5,1.5,0,0,0,18.5,2h-2A1.5,1.5,0,0,0,15,3.5V4H2.54a.5.5,0,0,0,0,1ZM16,3.5a.5.5,0,0,1,.5-.5h2a.5.5,0,0,1,.5.5v2a.5.5,0,0,1-.5.5h-2a.5.5,0,0,1-.5-.5Z">
                                    </path>
                                    <path d="M22.4,20H18v-.5A1.5,1.5,0,0,0,16.5,18h-2A1.5,1.5,0,0,0,13,19.5V20H2.55a.5.5,0,0,0,0,1H13v.5A1.5,1.5,0,0,0,14.5,23h2A1.5,1.5,0,0,0,18,21.5V21h4.4a.5.5,0,0,0,0-1ZM17,21.5a.5.5,0,0,1-.5.5h-2a.5.5,0,0,1-.5-.5v-2a.5.5,0,0,1,.5-.5h2a.5.5,0,0,1,.5.5Z">
                                    </path>
                                    <path d="M8.5,15h2A1.5,1.5,0,0,0,12,13.5V13H22.45a.5.5,0,1,0,0-1H12v-.5A1.5,1.5,0,0,0,10.5,10h-2A1.5,1.5,0,0,0,7,11.5V12H2.6a.5.5,0,1,0,0,1H7v.5A1.5,1.5,0,0,0,8.5,15ZM8,11.5a.5.5,0,0,1,.5-.5h2a.5.5,0,0,1,.5.5v2a.5.5,0,0,1-.5.5h-2a.5.5,0,0,1-.5-.5Z">
                                    </path>
                                    </g>
                                </svg>
                                {% trans 'Filter' %}
                            </a>
                            <div class="form-group">
                                <select name="sort"
                                        class="default-select"
                                        hx-get="{% querystring sort=None %}"
                                        hx-trigger="change"
                                        hx-swap="none show:none"
                                        hx-push-url="false">
                                    <option value="">{% trans 'Relevance' %}</option>
                                    <option value="-date_created">{% trans 'Newest' %}</option>
                                    <option value="date_created">{% trans 'Oldest' %}</option>
                                    <option value="-average_rating">{% trans 'Highest Rated' %}</option>
                                    <option value="-num_purchases">{% trans 'Most Popular' %}</option>
                                    <option value="-price">{% trans 'Price: High to Low' %}</option>
                                    <option value="price">{% trans 'Price: Low to High' %}</option>
                                </select>
                            </div>
                            <div class="form-group Category">
                                <select name="paginate_by"
                                        class="default-select"
                                        hx-get="{{ pagination_form_url }}"
                                        hx-trigger="change"
                                        hx-swap="none show:none"
                                        hx-push-url="false">
                                    <option value="">{% trans 'Products' %}</option>
                                    {% with widget=pagination_form.fields.paginate_by.field.widget %}
                                        {% for group_name, group_choices, group_index in widget.optgroups %}
                                            {% if group_name %}<optgroup label="{{ group_name }}">{% endif %}
                                                {% for option in group_choices %}
                                                    <option value="{{ widget.value|stringformat:'s' }}">{{ widget.label }} {% trans 'Products' %}</option>
                                                {% endfor %}
                                                {% if group_name %}</optgroup>{% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </select>
                            </div>
                            <div class="shop-tab">
                                <ul class="nav" role="tablist" id="dz-shop-tab">
                                    <li class="nav-item" role="presentation">
                                        <a href="#tab-list-list"
                                           class="nav-link active"
                                           id="tab-list-list-btn"
                                           data-bs-toggle="pill"
                                           data-bs-target="#tab-list-list"
                                           role="tab"
                                           aria-controls="tab-list-list"
                                           aria-selected="true">
                                            <svg width="512"
                                                 height="512"
                                                 viewBox="0 0 512 512"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_121_190)">
                                                <path d="M42.667 373.333H96C119.564 373.333 138.667 392.436 138.667 416V469.333C138.667 492.898 119.564 512 96 512H42.667C19.103 512 0 492.898 0 469.333V416C0 392.436 19.103 373.333 42.667 373.333Z" fill="black">
                                                </path>
                                                <path d="M42.667 186.667H96C119.564 186.667 138.667 205.77 138.667 229.334V282.667C138.667 306.231 119.564 325.334 96 325.334H42.667C19.103 325.333 0 306.231 0 282.667V229.334C0 205.769 19.103 186.667 42.667 186.667Z" fill="black">
                                                </path>
                                                <path d="M42.667 0H96C119.564 0 138.667 19.103 138.667 42.667V96C138.667 119.564 119.564 138.667 96 138.667H42.667C19.103 138.667 0 119.564 0 96V42.667C0 19.103 19.103 0 42.667 0Z" fill="black">
                                                </path>
                                                <path d="M230.565 373.333H468.437C492.682 373.333 512.336 392.436 512.336 416V469.333C512.336 492.897 492.682 512 468.437 512H230.565C206.32 512 186.666 492.898 186.666 469.333V416C186.667 392.436 206.32 373.333 230.565 373.333Z" fill="black">
                                                </path>
                                                <path d="M230.565 186.667H468.437C492.682 186.667 512.336 205.77 512.336 229.334V282.667C512.336 306.231 492.682 325.334 468.437 325.334H230.565C206.32 325.334 186.666 306.231 186.666 282.667V229.334C186.667 205.769 206.32 186.667 230.565 186.667Z" fill="black">
                                                </path>
                                                <path d="M230.565 0H468.437C492.682 0 512.336 19.103 512.336 42.667V96C512.336 119.564 492.682 138.667 468.437 138.667H230.565C206.32 138.667 186.666 119.564 186.666 96V42.667C186.667 19.103 206.32 0 230.565 0Z" fill="black">
                                                </path>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_121_190">
                                                <rect width="512" height="512" fill="white"></rect>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#tab-list-column"
                                           class="nav-link"
                                           id="tab-list-column-btn"
                                           data-bs-toggle="pill"
                                           data-bs-target="#tab-list-column"
                                           role="tab"
                                           aria-controls="tab-list-column"
                                           aria-selected="false">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 version="1.1"
                                                 id="Capa_1"
                                                 x="0px"
                                                 y="0px"
                                                 viewBox="0 0 512 512"
                                                 style="enable-background:new 0 0 512 512"
                                                 xml:space="preserve"
                                                 width="512"
                                                 height="512"
                                                 nonce="{{ request.csp_nonce }}">
                                                <g>
                                                <path d="M85.333,0h64c47.128,0,85.333,38.205,85.333,85.333v64c0,47.128-38.205,85.333-85.333,85.333h-64   C38.205,234.667,0,196.462,0,149.333v-64C0,38.205,38.205,0,85.333,0z">
                                                </path>
                                                <path d="M362.667,0h64C473.795,0,512,38.205,512,85.333v64c0,47.128-38.205,85.333-85.333,85.333h-64   c-47.128,0-85.333-38.205-85.333-85.333v-64C277.333,38.205,315.538,0,362.667,0z">
                                                </path>
                                                <path d="M85.333,277.333h64c47.128,0,85.333,38.205,85.333,85.333v64c0,47.128-38.205,85.333-85.333,85.333h-64   C38.205,512,0,473.795,0,426.667v-64C0,315.538,38.205,277.333,85.333,277.333z">
                                                </path>
                                                <path d="M362.667,277.333h64c47.128,0,85.333,38.205,85.333,85.333v64C512,473.795,473.795,512,426.667,512h-64   c-47.128,0-85.333-38.205-85.333-85.333v-64C277.333,315.538,315.538,277.333,362.667,277.333z">
                                                </path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#tab-list-grid"
                                           class="nav-link"
                                           id="tab-list-grid-btn"
                                           data-bs-toggle="pill"
                                           data-bs-target="#tab-list-grid"
                                           role="tab"
                                           aria-controls="tab-list-grid"
                                           aria-selected="false">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 version="1.1"
                                                 id="Capa_2"
                                                 x="0px"
                                                 y="0px"
                                                 viewBox="0 0 512 512"
                                                 style="enable-background:new 0 0 512 512"
                                                 xml:space="preserve"
                                                 width="512"
                                                 height="512"
                                                 nonce="{{ request.csp_nonce }}">
                                                <g>
                                                <path d="M42.667,373.333H96c23.564,0,42.667,19.103,42.667,42.667v53.333C138.667,492.898,119.564,512,96,512H42.667   C19.103,512,0,492.898,0,469.333V416C0,392.436,19.103,373.333,42.667,373.333z">
                                                </path>
                                                <path d="M416,373.333h53.333C492.898,373.333,512,392.436,512,416v53.333C512,492.898,492.898,512,469.333,512H416   c-23.564,0-42.667-19.102-42.667-42.667V416C373.333,392.436,392.436,373.333,416,373.333z">
                                                </path>
                                                <path d="M42.667,186.667H96c23.564,0,42.667,19.103,42.667,42.667v53.333c0,23.564-19.103,42.667-42.667,42.667H42.667   C19.103,325.333,0,306.231,0,282.667v-53.333C0,205.769,19.103,186.667,42.667,186.667z">
                                                </path>
                                                <path d="M416,186.667h53.333c23.564,0,42.667,19.103,42.667,42.667v53.333c0,23.564-19.102,42.667-42.667,42.667H416   c-23.564,0-42.667-19.103-42.667-42.667v-53.333C373.333,205.769,392.436,186.667,416,186.667z">
                                                </path>
                                                <path d="M42.667,0H96c23.564,0,42.667,19.103,42.667,42.667V96c0,23.564-19.103,42.667-42.667,42.667H42.667   C19.103,138.667,0,119.564,0,96V42.667C0,19.103,19.103,0,42.667,0z">
                                                </path>
                                                <path d="M229.333,373.333h53.333c23.564,0,42.667,19.103,42.667,42.667v53.333c0,23.564-19.103,42.667-42.667,42.667h-53.333   c-23.564,0-42.667-19.102-42.667-42.667V416C186.667,392.436,205.769,373.333,229.333,373.333z">
                                                </path>
                                                <path d="M229.333,186.667h53.333c23.564,0,42.667,19.103,42.667,42.667v53.333c0,23.564-19.103,42.667-42.667,42.667h-53.333   c-23.564,0-42.667-19.103-42.667-42.667v-53.333C186.667,205.769,205.769,186.667,229.333,186.667z">
                                                </path>
                                                <path d="M229.333,0h53.333c23.564,0,42.667,19.103,42.667,42.667V96c0,23.564-19.103,42.667-42.667,42.667h-53.333   c-23.564,0-42.667-19.103-42.667-42.667V42.667C186.667,19.103,205.769,0,229.333,0z">
                                                </path>
                                                <path d="M416,0h53.333C492.898,0,512,19.103,512,42.667V96c0,23.564-19.102,42.667-42.667,42.667H416   c-23.564,0-42.667-19.103-42.667-42.667V42.667C373.333,19.103,392.436,0,416,0z">
                                                </path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="productsRow" class="row">{% partial products-row %}</div>
                    <div id="paginationRow" class="row page mt-0">{% partial filter-row %}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
