{% extends 'base.html' %}
{% load static i18n %}
{% load django_tables2 %}
{% block additional_css %}{% endblock %}
{% block js %}{% endblock %}
{% block banner %}
    {% trans 'Wishlist' as page_title %}
    {% static 'pixio/images/background/bg1.jpg' as banner_background %}
    {% include 'pixio/elements/banner.html' %}
{% endblock %}
{% block content %}
    <div class="content-inner-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div>
                        <noscript>{{ pagination_form }}</noscript>
                    </div>
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
