{% load purchase_info_tags %}
{% load currency_filters %}
{% with num_items=request.basket.num_items %}
    <span class="badge badge-light
                 {% if num_items < 1 %}d-none{% endif %}"
          hx-swap-oob="outerHTML:.offcanvas span.badge">{{ num_items }}</span>
    <span class="badge badge-circle
                 {% if num_items < 1 %}d-none{% endif %}"
          hx-swap-oob="outerHTML:.extra-nav span.badge">{{ num_items }}</span>
{% endwith %}
<h5 id="cartSubtotal" class="mb-0" hx-swap-oob="true">{{ request.basket.total_excl_tax|currency }}</h5>
{% purchase_info_for_product request product as session %}
<h6 id="basket-line-{{ line.pk }}-price"
    class="dz-price mb-0"
    hx-swap-oob="outerHTML:#shopping-cart-pane #basket-line-{{ line.pk }} #basket-line-{{ line.pk }}-price">
    {{ session.price.excl_tax|currency:session.price.currency }}
</h6>
