{% load i18n partials %}
{% load purchase_info_tags basket_tags wishlist_tags image_tags currency_filters %}
{% partialdef add-to-wishlist %}
<form action="{% url 'customer:wishlist-add-product' product_pk=product.pk %}"
      method="post"
      hx-boost="true"
      hx-target="none"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    <button type="submit"
            class="btn btn-primary meta-icon dz-wishicon"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
        <div x-show="!submitting">
            <i class="icon feather icon-heart dz-heart"></i>
            <i class="icon feather icon-heart-on dz-heart-fill"></i>
        </div>
    </button>
</form>
{% endpartialdef %}
{% partialdef remove-from-wishlist %}
<form action="{% url 'customer:wishlist-remove-product' product_pk=product.pk %}"
      method="post"
      hx-boost="true"
      hx-target="none"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    <button type="submit"
            class="btn btn-primary meta-icon dz-wishicon"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
        <div x-show="!submitting">
            <i class="fa-solid fa-heart-crack"></i>
            <i class="fa-solid fa-heart-crack-on dz-heart-fill"></i>
        </div>
    </button>
</form>
{% endpartialdef %}
{% partialdef add-to-basket %}
{% basket_form request product 'single' as basket_form %}
<form action="{% url 'basket:add-product' product_pk=product.pk %}"
      method="post"
      hx-boost="true"
      hx-target="none"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    {{ basket_form }}
    <button type="submit"
            class="btn btn-primary meta-icon dz-carticon"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
        <div x-show="!submitting">
            <i class="flaticon flaticon-basket"></i>
            <i class="flaticon flaticon-basket-on dz-heart-fill"></i>
        </div>
    </button>
</form>
{% endpartialdef %}
{% partialdef remove-from-basket %}
<form action="{% url 'basket:remove' pk=product.pk %}"
      method="post"
      hx-boost="true"
      hx-target="none"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    <button type="submit"
            class="btn btn-primary meta-icon dz-carticon"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i>
        <div x-show="!submitting">
            <i class="icon feather icon-trash-2"></i>
            <i class="icon feather icon-trash-2-on dz-heart-fill"></i>
        </div>
    </button>
</form>
{% endpartialdef %}
{% block product %}
    {% purchase_info_for_product request product as session %}
    <li class="card-container col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 Tops wow fadeInUp"
        data-wow-delay="0.6s">
        <div class="shop-card">
            <div class="dz-media">
                {% with image=product.primary_image %}
                    {% oscar_thumbnail image.original "450x600" as thumb %}
                    <img src="{{ thumb.url }}"
                         alt="{{ image.caption|default:product.get_title }}"
                         class="mx-auto">
                {% endwith %}
                <div class="shop-meta">
                    <a href="{{ product.get_absolute_url }}"
                       class="btn btn-secondary btn-md btn-rounded"
                       hx-boost="true"
                       hx-target="#modalContainer"
                       hx-push-url="false">
                        <i class="fa-solid fa-eye d-md-none d-block"></i>
                        <span class="d-md-block d-none">{% trans 'Quick View' %}</span>
                    </a>
                    {% if product|is_in_wishlist:request %}
                        <div id="wishlist-remove-product-{{ product.pk }}">{% partial remove-from-wishlist %}</div>
                    {% else %}
                        <div id="wishlist-add-product-{{ product.pk }}">{% partial add-to-wishlist %}</div>
                    {% endif %}
                    {% if product|is_in_basket:request %}
                        <div id="basket-remove-product-{{ product.pk }}">{% partial remove-from-basket %}</div>
                    {% else %}
                        <div id="basket-add-product-{{ product.pk }}">
                            {% if session.availability.is_available_to_buy and session.price.exists %}
                                {% partial add-to-basket %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="dz-content">
                {% block product_title %}
                    <h5 class="title">
                        <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a>
                    </h5>
                {% endblock %}
                {% block product_price %}
                    <h5 class="price">
                        {% if session.price.exists %}
                            {% if session.price.excl_tax == 0 %}
                                {% trans "Free" %}
                            {% else %}
                                {{ session.price.excl_tax|currency:session.price.currency }}
                            {% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </h5>
                {% endblock %}
            </div>
            <div class="product-tag">
                {% block product_availability %}
                    {% if not session.availability.is_available_to_buy and session.price.exists %}
                        <span class="badge border">{% trans 'Unavailable' %}</span>
                    {% endif %}
                {% endblock %}
                {# TODO <span class="badge border">Get 20% Off</span> #}
            </div>
            {% comment %}
            TODO
            <div class="product-rating">
            {% block product_rating %}
                {% iffeature "reviews" %}
                    {% for i in 5|range %}
                    <li {% if i <= product.rating %}class="star-fill"{% endif %}>
                        <i class="flaticon-star-1"></i>
                    </li>
                    {% endfor %}
	            {% endiffeature %}
	        {% endblock %}
			</div>
            {% endcomment %}
        </div>
    </li>
{% endblock %}
