{% load i18n %}
{% load partials %}
{% defpartial quantity %}
<noscript>
    <form action="{% url 'wishlists:wishlist-update-line' pk=line.pk %}"
          method="post">
        {% csrf_token %}
        <div class="d-flex align-items-center gap-2">
            <button type="submit"
                    name="quantity"
                    value="{{ line.quantity - 1 }}"
                    class="btn btn-light rounded-circle"
                    {% if line.quantity <= 1 %}disabled{% endif %}>-</button>
            <label for="quantity-{{ line.pk }}" class="visually-hidden">{% trans 'Quantity' %}</label>
            <input id="quantity-{{ line.pk }}"
                   type="number"
                   name="quantity"
                   class="form-control"
                   min="1"
                   value="{{ line.quantity }}"
                   aria-label="{% trans 'Quantity of item in wishlist' %}">
            <button type="submit"
                    name="quantity"
                    value="{{ line.quantity + 1 }}"
                    class="btn btn-light rounded-circle">+</button>
        </div>
        <button type="submit" class="btn btn-secondary btn-sm mt-1">{% trans 'Update' %}</button>
    </form>
</noscript>
<div class="require-js">
    <label for="quantity-{{ line.pk }}" class="visually-hidden">{% trans 'Quantity' %}</label>
    <input id="quantity-{{ line.pk }}"
           type="number"
           class="form-control"
           min="1"
           aria-label="{% trans 'Quantity of item in wishlist' %}"
           hx-post="{% url 'wishlists:wishlist-update-line' line_pk=line.pk %}"
           hx-trigger="input changed delay:500ms, search"
           hx-swap="none"
           x-model="quantity">
</div>
{% enddefpartial %}
{% defpartial add %}
<form action="{% url 'basket:add' pk=product.pk %}"
      method="post"
      hx-swap="outerHTML show:none"
      hx-boost="true"
      hx-target="this"
      hx-push-url="false"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    <input type="hidden"
           name="quantity"
           value="{{ line.quantity }}"
           :value="quantity">
    <button type="submit"
            class="btn btn-secondary btnhover text-nowrap"
            :disabled="submitting">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"></i><span x-show="!submitting">{% trans 'Add To Cart' %}</span>
    </button>
</form>
{% endpartialdef %}
{% partialdef remove %}
<form action="{% url 'basket:remove' pk=product.pk %}"
      method="post"
      hx-swap="delete"
      hx-boost="true"
      hx-target="closest tr"
      hx-push-url="false"
      hx-confirm="{% blocktrans with product_title=product.get_title %}
                      Are you sure you wanted to remove {{ product_title }} from your wishlist?
                  {% endblocktrans %}"
      @submit="$data.submitting = true;"
      @htmx:after-on-load="$data.submitting = false;"
      @htmx:response-error="console.error($event);"
      x-data="{submitting: false}">
    {% csrf_token %}
    <button type="submit">
        <i class="spinner-border spinner-border-sm"
           role="status"
           aria-hidden="true"
           x-show="submitting"><i class="ti-close" x-show="!submitting"></i>
    </button>
</form>
{% endpartialdef %}
